<!DOCTYPE html>
<html>
<head>

    <title>Mana ASP.NET Application</title>

</head>
<body>


    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  - Mana ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>